.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 760px) {
  /* rcw asdasdasdasdasdasdasdasdsadasdasdasdasdasdasdasdasdasd */
  .rcw-conversation-container.active {
    height: 650px !important;
    margin-top: auto !important;
  }
  .rcw-widget-container {
    height: auto !important;
    bottom: 0 !important;
  }

  /* rcw asdasdasdasdasdasdasdasdsadasdasdasdasdasdasdasdasdasd */
}

/* rcw asdasdasdasdasdasdasdasdsadasdasdasdasdasdasdasdasdasd */

.rcw-launcher {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9bd31 !important;
}
.rcw-conversation-container .rcw-header {
  background-color: #f9bd31 !important;
  border-radius: 10px 10px 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0 25px;
}

.rcw-close-button {
  background-color: #f9bd31 !important;
  border: 0;
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
}

.player .vp-sidedock .box {
  visibility: hidden;
}

.player .vp-sidedock,
.player .vp-sidedock .sidedock-inner {
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  visibility: hidden;
}

.player .vp-sidedock {
  visibility: hidden;
  position: relative;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 12;
}
