@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Krungsri;
  src: url("../src/Fonts/Krungsri\ Simple.ttf");
  src: url("../src/Fonts/Krungsri\ Simple\ Bol.ttf");
  src: url("../src/Fonts/Krungsri\ Simple\ Med.ttf");
  font-weight: normal;
  font-weight: bold;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.linearbutton {
  background: linear-gradient(180deg, #594A42  0%, #2B201E 100%);
}
.borderlinear {
  background: linear-gradient(90deg, #583621 0%, #9E7B30 51.56%, #634726
  100%);
}
.shadowtext {
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}
.shadowimg{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}