.player .vp-sidedock .box {
  visibility: hidden;
}

.player .vp-sidedock,
.player .vp-sidedock .sidedock-inner {
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  visibility: hidden;
}

.player .vp-sidedock {
  visibility: hidden;
  position: relative;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 12;
}
